extends layout

block content

		#myid
			.row
				ul
					each post in posts
						li.col.l2
							a(href='#')
								h2.truncate #{post.title}
								p.truncate #{post.content}
								i.material-icons chat_bubble_outline
								.badge

					
						