extends layout

block title
	title All Posts

block content

		.section
		.section
		
			.row
				ul 
					each post in posts
							li.col.s4
								a(href= '/findpost/' + post.userId + '/' + post.id).row
										#jemoeder2
											.card-panel.teal
												span.white-text
													h1 # #{post.title} 
													p By: #{post.user.username}