extends layout



block content
	
	.valign-wrapper
		.row.valign.center-align
			.card.teal.lighten-1
					.card-content.white-text
						span.card-title BlogApp
						p #{errorMessage}
			.card.teal.lighten-1
					.card-content.white-text
						span.card-title Suckaaaaa

					