extends layout

block title
	title BlogApp All Users

block content
	
	.section
	.section
	.container
		.row
			ul
				each user in users
					li.usertjes.col.s3
						.row
						a.col.s8.waves-effect.waves-light.btn(href='/findpost/'+ user.id) #{user.username}
						
						
